/* основные цвета сайта */
:root {
  --red: #F40C0C;
  --orange: #FF5001;
  --yellow: #FFB400;
  --black: #3C392B;
  --grey: #56575C;
  --lightGray: #9D9D9F;
  --veryLightGray: #E0E0E0;
  --mainBgColor: #E5F2F2;
  --white: #fff;
  --bcInput: #F5F5F5;
  --posX: 0;
  --posY: 0;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}