.wrap {
    width: 100%;
    height: 706px;
    background: #E5F2F2;
    position: relative;

}

.container {
    max-width: 1540px;
    height: 100%;
    margin: 0 auto;
}

.container_text_parallax {
    max-width: 1540px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

.screen1 {
    height: 706px;
    overflow: hidden;
}

.headerTitle {
    color: var(--black);
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    width: 748px;
    margin-top: 41px;
    line-height: 100%;

}

.headerDescription {
    width: 550px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    line-height: 130%;
}

.screen2 {
    margin: 80px 0px;
}

.meeting {
    font-family: 'Montserrat', sans-serif;
    color: var(--orange);
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    /* 55px */
}

.titleCity {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.3px;
    -webkit-text-stroke: 3px var(--grey);
    -webkit-text-fill-color: transparent;
}

.screen3 {
    position: relative;
    height: 588px;
    background-image: url('../../assets/screen3.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 65px;
}

.superMeet {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 20%;
}

.screen5 {
    position: relative;
    height: 588px;
    background-image: url('../../assets/screen5.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 65px;
    margin-bottom: 60px;
}

.myMeet {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 10%;
}

.parallax_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.parallax_bg {
    position: absolute;
    top: -1%;
    bottom: -1%;
    left: -1%;
    right: -1%;
    background-image: url(../../assets/grass.png);
    background-repeat: no-repeat;
    background-size: 864px 388px;
    background-position: bottom 34px right 373px;
    transform: translate(calc(var(--posX) * 1px), calc(var(--posY) * .1px));
    z-index: 4;
}

.parallax_women {
    position: absolute;
    top: -1%;
    bottom: -1%;
    left: -1%;
    right: -1%;
    background-image: url(../../assets/woman.png);
    background-repeat: no-repeat;
    background-size: 426px 584px;
    background-position: bottom 33px right 500px;
    transform: translate(calc(var(--posX) * 5px), calc(var(--posY) * .5px));
    z-index: 5;
}

.parallax_cloud_first {
    position: absolute;
    top: -1%;
    bottom: -1%;
    left: -1%;
    right: -1%;
    background-image: url(../../assets/cloud3.png);
    background-repeat: no-repeat;
    background-size: 458px 261px;
    background-position: top 170px right 21.55px;
    transform: translate(calc(var(--posX) * 15px), calc(var(--posY) * 1px));
    z-index: 3;
}

.parallax_cloud_second {
    position: absolute;
    top: -1%;
    bottom: -1%;
    left: -1%;
    right: -1%;
    background-image: url(../../assets/cloud2.svg);
    background-repeat: no-repeat;
    background-size: 278px 167px;
    background-position: top 253px left;
    transform: translate(calc(var(--posX) * 15px), calc(var(--posY) * 1px));
    z-index: 2;
}

.parallax_cloud_third {
    position: absolute;
    top: -1%;
    bottom: -1%;
    left: -1%;
    right: -1%;
    background-image: url(../../assets/cloud2.svg);
    background-repeat: no-repeat;
    background-size: 244px 151px;
    background-position: top 118px left 782px;
    transform: translate(calc(var(--posX) * 15px), calc(var(--posY) * 1px));
    z-index: 1;
}