.wrap {
    width: 100%;
    height: 706px;
    background: #E5F2F2;
    position: relative;

}

.container {
    max-width: 1540px;
    height: 100%;
    margin: 0 auto;

}

.screen1 {
    height: 706px;
}

.grass {
    position: absolute;
    right: 0;
    top: 0;
    left: 20%;
    bottom: 10px;
    background-image: url(/src/assets/grass.png);
    background-repeat: no-repeat;
    background-position: bottom;

}

.woman {
    position: absolute;
    right: 0;
    top: 0;
    left: 20%;
    bottom: 10px;
    background-image: url(/src/assets/woman.png);
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 10;

}

.cloud {
    position: absolute;
    right: 0;
    top: 200px;
    left: 63%;
    bottom: 0;
    background-image: url(/src/assets/cloud3.png);
    background-repeat: no-repeat;
    z-index: -10;
}

.cloud1 {
    width: 100%;
    border: darkcyan 3px solid;
    position: absolute;
    top: 10px;
    left: 0;
    background-image: url(/src/assets/cloud1.png);
    background-repeat: no-repeat;
    z-index: -10;
}

.headerTitle {
    color: var(--black);
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    width: 748px;
}

.headerDescription {
    width: 550px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}