.wrap {
    width: 100%;
    height: 706px;
    background: #E5F2F2;
    position: relative;

}

.container {
    max-width: 1540px;
    height: 100%;
    margin: 0 auto;

}

.screen1 {
    height: 706px;
}

.grass {
    position: absolute;
    right: 0;
    top: 0;
    left: 20%;
    bottom: 10px;
    background-image: url(/src/assets/grass.png);
    background-repeat: no-repeat;
    background-position: bottom;

}

.woman {
    position: absolute;
    right: 0;
    top: 0;
    left: 20%;
    bottom: 10px;
    background-image: url(/src/assets/woman.png);
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 10;

}

.cloud {
    position: absolute;
    right: 0;
    top: 200px;
    left: 63%;
    bottom: 0;
    background-image: url(/src/assets/cloud3.png);
    background-repeat: no-repeat;
    z-index: -10;
}

.cloud1 {
    width: 100%;
    border: darkcyan 3px solid;
    position: absolute;
    top: 10px;
    left: 0;
    background-image: url(/src/assets/cloud1.png);
    background-repeat: no-repeat;
    z-index: -10;
}

.headerTitle {
    color: var(--black);
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    width: 748px;
}

.headerDescription {
    width: 550px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.screen2 {
    margin: 80px 0px;
}

.meeting {
    font-family: 'Montserrat', sans-serif;
    color: var(--orange);
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    /* 55px */
}

.titleCity {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.3px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px var(--grey);
}

.screen3 {
    position: relative;
    height: 588px;
    background-image: url('../../assets/screen3.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 65px;
}

.superMeet {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 20%;
}

.screen5 {
    position: relative;
    height: 588px;
    background-image: url('../../assets/screen5.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 65px;
    margin-bottom: 60px;
}

.myMeet {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 10%;
}