.event_container {
  max-width: 1540px;
  height: 100%;
  margin: 0 auto;
}

.chgk {
  width: 100%;
  display: flex;
  list-style-type: none;
  margin-bottom: 30px;
}

.chgk li {
  padding: 4px 10px;
  border-radius: 20px;
  border: 1px solid var(--lightGray);
  margin-right: 4px;
  display: flex;
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
  text-transform: uppercase;
}
.chgk li:last-child {
  margin-right: 0;
}

.chgk_active {
  color: var(--orange) !important;
}

.event_content {
  display: flex;
  margin-bottom: 100px;
}

.event_text {
  width: 50%;
  margin-right: 20px;
}

.text_container {
  width: 700px;
}

.block_event {
  margin-bottom: 40px;
}

.block_event h4 {
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.block_event p {
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 20px;
}

.block_event button {
  display: flex;
  width: 308px;
  padding: 2px 20px;
  align-items: center;
  border-radius: 31px;
  border: 1px solid var(--orange);
  color: var(--orange);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button_icon {
  margin-right: 20px;
}

.add_comment {
  width: 100%;
}

.add_comment input, .add_comment input::placeholder {
  width: 100%;
  color: var(--lightGray);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  outline: none;
  border: none;
}

.event_images {
  width: 50%;
  position: relative;
}

.image_container {
  width: 295px;
  height: 300px;
  position: absolute;
}

.image_position1 {
  top: 0;
  left: 0;
}

.image_position2 {
  top: 124px;
  left: 156.5px;
}

.image_position3 {
  top: 15px;
  left: 373.8px;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: content;
  object-position: center;
  border-radius: 20px;
  border: 2px solid var(--lightGray);
}

.rotate2 {
  transform: rotate(-2deg);
}

.rotate3 {
  transform: rotate(6deg);
}

.other {
  width: 100%;
  margin-bottom: 20px;
}

.other_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.other_header div {
  width: 60px;
  height: 60px;
}

.other_header div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.other_header h2 {
  color: var(--orange);
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
}

.other_header h2 span {
  color: transparent;
  -webkit-text-stroke: 1px #56575C;
  font-size: 46px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.3px;
}

.other_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 20px;
}