.eventsList_nav {
  display: flex;
  justify-content: space-between;
}

.eventsList_sorting {
  width: 555px;
  height: 35px;
  margin-bottom: 30px;
  display: inline-flex;
  padding: 4px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 30px;
  border: 1px solid var(--veryLightGray);
  list-style-type: none;
}

.eventsList_sorting li {
  color: var(--lightGray);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  padding: 4px 12px;
}

.sorting_active {
  color: var(--white);
  border-radius: 20px;
  background: var(--black);
  font-weight: 600;
}

.sorting_events {
  color: var(--orange);
}

.sorting_meetings {
  color: var(--yellow);
}

.sorting_world {
  color: var(--red);
}

.sorting_archive {
  color: var(--lightGray);
}

.eventsList_menu {
  width: 196px;
  height: 240px;
  position: relative;
  z-index: 100;
  background-color: var(--white);
}

.eventsList_menu li {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.eventsList_menu li img {
  width: 40px;
  height: 40px;
}

.eventsList_menu li img.nav_sorting_disabled {
  visibility: hidden;
}

.eventsList_menu li p {
  padding: 11px 10px 12px 0px;
  width: 156px;
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

.eventsList_menu li p.nav_active {
  font-weight: 600;
}

.position {
  position: relative;
  top: -172px;
}

.eventsList_content {
  width: 100%;
  margin-bottom: 100px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 15px;
}

.content_pagination {
  display: flex;
  width: 122px;
  align-items: flex-start;
  gap: 45px;
  margin: 40px auto 0;
}

.content_pagination p {
  color: var(--lightGray);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

p.pagination_active {
  color: var(--red);
}

.eventsList_buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}